/* Universal Style CSS */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Common Style CSS */
.primary-clr {
  color: #ab3421;
}
h1,
h2 {
  font-weight: 700;
}

p {
  font-size: 18px;
}
.primary-btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #ab3421;
  color: #ffffff;
}
.primary-btn2 {
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #ab3421;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #ab3421;
}
/* Header Style Start  */

/* nav style css */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.menu ul li a {
  text-decoration: none;
  color: #ab3421;
  font-size: 20px;
  font-weight: 500;
  padding: 8px;
  position: relative;
}
.menu ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ab3421;
}
.menu ul li a:hover:after {
  width: 80%;
  transition: 0.4s;
}

/* Banner Section Style CSS */
.banner-section {
  height: 100vh;
  background: url(../images/background.jpg), rgba(0, 0, 0, 0.425);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.banner-title h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
}
.banner-title p {
  width: 50%;
  margin: 20px auto 30px;
  font-size: 22px;
}

/* Service Style CSS  */
.service-section {
  width: 100%;
  height: 100vh;
  background: url(../images/footer-bg.png), hsla(0, 0%, 0%, 0.95);
  padding: 120px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-blend-mode: overlay;
  gap: 20px;
}
.service-info {
  width: 50%;
}
.service-info h1 {
  font-size: 45px;
  margin-top: 15px;
}
.service-info > p {
  margin: 20px 0 30px;
}
.service-author {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.author-info {
  padding: 10px 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.author-info::after {
  content: "";
  position: absolute;
  right: 0;
  height: 60%;
  width: 3px;
  background-color: #ab3421;
}
.author-info img {
  border-radius: 50%;
  height: 120px;
  margin: 30px 20px 0px 0px;
}
.service-info ul li {
  font-size: 18px;
}
.service-container-main {
  display: flex;
  color: #000000;
  gap: 20px;
  justify-content: space-around;
}
.duel-service-container {
  width: 50%;
}
.service-item {
  background-color: #faebd7;
  text-align: center;
  width: 100%;
  height: 50%;
  margin-bottom: 15px;
  padding: 20px 10px;
  border-radius: 10px;
}
.service-item img {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}
