/* Universal Style CSS */
* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Common Style CSS */
.primary-clr {
  color: #ab3421;
}
p {
  font-size: 18px;
}
.primary-btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #ab3421;
  color: #ffffff;
}
.primary-btn2 {
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #ab3421;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #ffffff
  color: #ab3421
}
/* Header Style Start  */

/* nav style css */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  padding: 15px 0;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.menu ul li a {
  text-decoration: none;
  color: #ab3421;
  font-size: 20px;
  font-weight: 500;
  padding: 8px;
}

/* Banner Section Style CSS */
.banner-section {
  height: 100vh;
  background: url(../images/background.jpg), rgba(0, 0, 0, 0.425);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.banner-title h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
}
.banner-title p {
  width: 50%;
  margin: 20px auto 30px;
  font-size: 22px;
}
